# Cargo
target/
Cargo.lock
!/Cargo.lock

# State file
.rustlings-state.txt

# oranda
public/
.netlify

# OS
.DS_Store
.direnv/

# Editor
*.swp
.idea
*.iml

# Ignore file for editors like Helix
.ignore
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
